%row-shared {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h3{
    color: white; 
}

.table-footer-row, .table-function-row{
    @extend %row-shared
}


%col-shared{
    text-align: right; 
}

.search-bar-col, .entry-pagination-col{
    @extend %col-shared;
}